logging {
  level  = "info"
  format = "logfmt"
}

local.file_match "docker_container_logs" {
  path_targets = [
    {
      __path__ = "/var/lib/docker/containers/*/*-json.log",
      job      = "docker",
      host     = "{{ monitoring_agent_host_label | default(app_domain) }}",
    },
  ]
}

loki.source.file "docker_container_logs" {
  targets    = local.file_match.docker_container_logs.targets
  forward_to = [loki.write.default.receiver]
}

loki.write "default" {
  endpoint {
    url = "{{ alloy_loki_endpoint }}"
  }
}
