services:
  node-exporter:
    image: "{{ node_exporter_image }}"
    container_name: "{{ node_exporter_container_name }}"
    restart: unless-stopped
    command:
      - "--path.rootfs=/host"
      - "--web.listen-address=:9100"
    pid: host
    read_only: true
    security_opt:
      - "no-new-privileges:true"
    ports:
      - "{{ node_exporter_bind_address }}:{{ node_exporter_port }}:9100"

    volumes:
      - "/:/host:ro,rslave"
